<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Books | FlawlessRead</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

<div th:replace="fragments/header :: headerFragment"></div>

<!-- Search Content -->
<section class="welcome-section">
    <h2>Discover New Worlds</h2>
    <h3>Search for books by name</h3>
    <p>Use the search bar below to explore books available on Open Library.</p>
</section>

<section class="container">
    <form th:action="@{/search/results}" method="get" class="auth-form-container">
        <label for="query">Book Name:</label>
        <input type="text" id="query" name="query">
        <button type="submit">Search</button>
    </form>
</section>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
